<h1tml>
    <body>
        <h1>REGESTRATION</h1>
        <div style="display: block;display:table-caption">
            studentId,Studentname,Studentfathername,studentemail,studentphoneNumber
            <form action="/register" method="post">
                studentId,Studentname,Studentfathername,studentemail,studentphoneNumber
                ID:<input type="text" name="studentId"><div style="margin:10px"></div>
                Name: <input type="text" name="Studentname"><div style="margin:10px"></div>
                FatherName: <input type="text" name="Studentfathername"><div style="margin:10px"></div>
                Email: <input type="text" name="studentemail"><div style="margin:10px"></div>
                Phone: <input type="number" name="studentphoneNumber"><div style="margin:10px"></div>
                <button type="submit">Register</button>
            </form>    
        </div>    
    </body>
</h1tml>
